[Desktop Entry]
Type=Application
Version=1.0
Name=Install Fanne Linux
GenericName=System Installer
Comment=Install Fanne Linux on this computer
Exec=/usr/local/bin/fanne-installer
Icon=fanne-installer
Terminal=false
Categories=System;
Keywords=install;installer;system;
StartupWMClass=calamares
StartupNotify=true
